.aktualita-card {
  &__container {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36rem;
    overflow: hidden;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
  }

  &__datum {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-tertiary;
  }

  &__image {
    display: flex;
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.aktualita-card-detail {
  &__container {
    display: flex;
    border-radius: $border-radius;
    box-shadow: $shadow-dark;

    @include respond(tab-port) {
      flex-direction: column;
      max-width: 60rem;
      gap: 4rem;
    }

    @include respond(phone) {
      max-width: 45rem;
    }
    @include respond(phone-small) {
      max-width: 35rem;
    }
  }

  &__text-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  &__heading {
    cursor: pointer;
  }

  &__image {
    display: flex;
    position: relative;
    flex-shrink: 0;

    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: hidden;

    @include respond(tab-land) {
      width: 47rem;
      height: 35rem;
    }

    @include respond(tab-port) {
      border-top-right-radius: 0%;
      border-bottom-left-radius: $border-radius;
      width: 60rem;
      height: 45rem;
    }

    @include respond(phone) {
      width: 45rem;
      height: 34rem;
    }

    @include respond(phone-small) {
      width: 35rem;
      height: 26rem;
    }
  }

  &__datum {
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
    color: $color-tertiary;
  }

  &__perex {
    font-size: 1.8rem;
    color: $color-primary-dark3;
  }

  &__buttons {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
  }

  &__modal-buttons {
    display: flex;
    gap: 30rem;
  }
}
