h1, .heading-primary {  
  color: $color-tertiary;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px;

  @include respond(phone) {
    font-size: 5rem;
  }

  @include respond(phone-small) {
   font-size: 4rem;
  }

  

}

 h2,.heading-secondary {
  font-size: 4.5rem;
  color: $color-primary;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 4rem;
  }

  @include respond(phone-small) {
   font-size: 3.5rem;
  }


}

h3, .heading-tertiary {
  font-size: 3rem;
  color: $color-primary;
  font-weight: 500;
  line-height: 1.5;

  @include respond(phone) {
    font-size: 2.6rem;
  }

  @include respond(phone-small) {
   font-size: 2.2rem;

}
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
