/* Basic editor styles */
.ProseMirror {
  padding: 1rem;
  min-height: 30rem;
  background-color: white;
  border: $border-line;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  font-size: 1.6rem;

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: $border-radius;
    max-width: 50%;
    max-height: auto;
  }

  hr {
    border: none;
    border-top: 2px solid rgba($color-primary, 0.1);
    margin: 2rem 0;
  }
}
