.support-page {
    &__container {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6rem;
      margin-bottom: 10rem;
    }
  
    &__image-item {
      list-style: none;
      cursor: pointer;
      width: 15rem;
      height: 15rem;
      transition: transform 0.3s ease, filter 0.3s ease;
      
      &:hover {
        transform: scale(1.1);
        filter: none;
      }
    }
  
    &__logo {
      // filter: grayscale(100%);
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;

        
      &:hover {       
        filter: none;
      }
    }
  
    &__image-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: center;
  
      @include respond(big-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
      }
  
      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
    }
  }
  