.fotogalerie-page {
  &__container {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
  }

  &__image-item {
    list-style: none;
    cursor: pointer;
  }

  &__galleries-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;

    @include respond(big-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include respond(tab-port) {
     grid-template-columns: 1fr;
    }
  }
}
