.gallery-detail{

    &__container{
        margin: 6rem 0;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        align-items: center;
    }

    &__list-item{
        list-style: none;
        cursor: pointer;
    }

    &__image-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        gap: 4rem;

        @include respond(big-desktop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
      
          @include respond(tab-port) {
           grid-template-columns: 1fr;
          }
        

    }
}