.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 20%;
  width: 60%;
  background: $color-background;
  box-shadow: $shadow-dark;
  border-radius: $border-radius;

  &__header {
    width: 100%;
    padding: 1rem;
    color: $color-primary;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: $color-black;

    & h2 {
      text-transform: uppercase;
      text-align: center;
      margin: 0.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0.5rem;

    font-size: 2.4rem;
    color: $color-tertiary;
    font-weight: 500;
  }

  &-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }

  &-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }

  &-exit {
    transform: translateY(0);
    opacity: 1;
  }

  &-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
}
